Flask
gunicorn
flask-cors
python-dotenv
fpdf
Pillow
transformers
torch
torchvision
tesseract
telethon
yfinance
quandl
requests
beautifulsoup4
pandas
numpy
scikit-learn
matplotlib
nltk
geopy
openai

# תלות פנימיות (לכלול במידה ונדרש):
jinja2
itsdangerous
werkzeug
markupsafe
regex
tokenizers
safetensors
huggingface-hub
filelock
more-itertools
typing-extensions
pyyaml
fsspec
sympy
pycparser
cffi
protobuf
triton
tzdata
mpmath
inflection
frozendict
multitasking
platformdirs
urllib3
certifi
idna
pyparsing
scipy
joblib
kiwisolver
cycler
fonttools
rsa
pyasn1
websockets
geographiclib
